.nav {
    background-color: #f8f9fa; /* light grey background */
   width: 5%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
}

.link {
    margin: 15px 0;
    color: black;
    text-decoration: none;
}

.icon {
    font-size: 1.4rem;
    color: #f8f9fa;
}
.nav{
    background-color: black;
    border-radius: 2px,white;
    
}
.log{
    background-color: rgb(0, 0, 0);
    margin-top: 0%;

    width: 100%;
    margin: 0;
     
}
.log h2{
    
color: cornsilk;
    
    font-family: cursive;
}
.icon:hover{
   
    color: cornsilk;
}